body{
  background-image: -webkit-radial-gradient(darkgreen, green);
}

#title_icon{
 width: 50vi;
 height: auto;
 
 image-rendering: auto;
 image-rendering: crisp-edges;
 image-rendering: pixelated;
}


.navigationbuttons{
  position: absolute;
  right: 0;
  top: 20px;
  width: 250px;
  font-size: 25pt;
}

.header_icons img{
  width: 50px;
 image-rendering: auto;
 image-rendering: crisp-edges;
 image-rendering: pixelated;
}

#page_header{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
