body{
  background-image: -webkit-radial-gradient(Darkgreen, green);
}

#title_icon{
 height: auto;
 width: 90vi;
 image-rendering: auto;
 image-rendering: crisp-edges;
 image-rendering: pixelated;
}

#dealer_hand_icon{
  width: 45vi;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#hands{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#corners{
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#cornertopright{
  width: 9vi;
  position: fixed;
  right: 0%;
}

#cornertopleft{
  transform: scaleX(-1);
  width: 9vi;
  position: fixed;
  left: 0%;
}

#cornerbottomleft{
  transform: scale(-1);
  width: 9vi;
  position: fixed;
  left: 0%;
  bottom: 10px;
}

#cornerbottomright{
  transform: scaley(-1);
  width: 9vi;
  position: fixed;
  right: 0%;
  bottom: 10px;
}

.navigationbuttons{
  position: absolute;
  right: 0;
  top: 20px;
  width: 250px;
  font-size: 25pt;
}

#page_header{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#scoreboard {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
